{% extends "base.html" %}

{% block title %}About - Machine Vision Plus{% endblock %}

{% block content %}
<div class="about-container">

    <div class="about-content">
        <div class="about-section">
            <h2>What is MV+ ?</h2>
            <p>
                MV+ (machine vision plus) is a novel paradigm of building computer vision models (e.g object detection or classifiers) that make inferences based on combination of spatial and structural features. Unlike conventional models, the structural features are sourced from transient images (1D time resolved) from the target. For details about this project, refer to the below publications;
            </p>
        </div>
    </div>
</div>
{% endblock %}
